#!/usr/bin/env bash

# test backupninja support
if [ -n "$(type -t fatal)" ] && [ "$(type -t fatal)" = function ]; then
  # backupninja context
  debug "tarsnap backup starting"
else
  # normal shell context
  alias debug=echo
  alias info=echo
  alias warning=echo
  function fatal() {
    echo "$@"
    exit 1
  }
fi

{% if tarsnap_backup_global_lock %}
# Acquire backup lock using this script itself as the lockfile. If another
# backup task is already running, then exit immediately.
exec 200<$0
flock -n 200 || { fatal "Another backup task is already running."; exit 1; }
{% endif %}

# Logic is as follows:

# 1. If pre-script fails exit immediately
# 2. Proceed if backup
# 3. Irrespective whether backup succeeds execute post-script.

timestamp=$(date -Isecond)
info "Starting at $timestamp"

{% if tarsnap_backup_pre_script %}
{{ tarsnap_backup_pre_script }} || fatal "pre-script failed"
{% endif %}

# We run --fsck before backup, so in case of any inconsistencies (that might happen)
# backups will still work

extraargs=
if [ $test ]; then
extraargs="--dry-run"
fi

TS="/usr/bin/tarsnap $extraargs --keyfile '{{tarsnap_key_remote_path}}' --cachedir '{{ tarsnap_cache_dir }}'"
execstr="{% if not tarsnap_write_only %}$TS --fsck  && {% endif %}$TS -c -f '{{ tarsnap_archive_name }}-${timestamp}' {{tarsnap_backup_folders }}"

debug $execstr
if  [ ! "$test" ]; then
  output=`eval $execstr 2>&1`
  code=$?
  if [ "$code" == "0" ]; then
    debug $output
    info "Successfully created tarsnap archive '{{ tarsnap_archive_name }}-${timestamp}' "
    {% if tarsnap_backup_metric %}
    curl -sS {{tarsnap_backup_metric }}
    {% endif %}
  else
    warning $output
    warning "Failed to create tarsnap archive '{{ tarsnap_archive_name }}-${timestamp}' "
  fi
fi

{% if tarsnap_backup_post_script %}{{ tarsnap_backup_post_script }}{% endif %}

timestamp=$(date -Isecond)
info "Finishing at $timestamp"
